= form_for(@job_posting) do |f|
  - if @job_posting.errors.any?
    #error_explanation
      %h2
        = pluralize(@job_posting.errors.count, "error")
        prohibited this job_posting from being saved:
      %ul
        - @job_posting.errors.full_messages.each do |message|
          %li= message
  .row
    .col.s12
      .row
        .input-field.col.s6
          = f.text_field :job
          = f.label :job
        .input-field.col.s6
          = f.text_field :company
          = f.label :company
      .row
        .input-field.col.s6
          = f.text_field :tags
          = f.label :tags
        .input-field.col.s6
          = f.number_field :salary
          = f.label :salary
      .row
        .input-field.col.s12
          = f.text_area :description, {class: 'materialize-textarea'}
          = f.label :description
      .row
        .actions
          = f.submit class: 'btn deep-purple'
