%h3.center Job Postings
.container
  - @scrapped_postings.each_slice(3) do |slice|
    .row
      - slice.each do |job_posting|
        .col.s5.m4
          .card.hoverable.card_custom
            .card-image.waves-effect.waves-block.waves-light
              = image_tag "code.jpg", {class: 'activator'}
            .card-content
              %span.card-title.grey-text.text-darken-4
                .ellipsis= job_posting[:job]
                %i.material-icons.activator.right more_vert
              %p.truncate= job_posting[:company]
              .tags
                - job_posting[:tags].each do |tag|
                  .chip.hide-on-med-and-down= tag
            .card-reveal
              %span.card-title.activator.grey-text.text-darken-4
                = "#{job_posting[:job]} @#{job_posting[:company]}"
              %p= job_posting[:description]
  %br/
  = link_to 'New Job posting', new_job_posting_path, {class: 'btn deep-purple'}
