<p id="notice"><%= notice %></p>

<h1>Listing Job Postings</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Company</th>
      <th>Tags</th>
      <th>Description</th>
      <th>Location</th>
      <th>Salary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_postings.each do |job_posting| %>
      <tr>
        <td><%= job_posting.job %></td>
        <td><%= job_posting.company %></td>
        <td><%= job_posting.tags %></td>
        <td><%= job_posting.description %></td>
        <td><%= job_posting.location %></td>
        <td><%= job_posting.salary %></td>
        <td><%= link_to 'Show', job_posting %></td>
        <td><%= link_to 'Edit', edit_job_posting_path(job_posting) %></td>
        <td><%= link_to 'Destroy', job_posting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% @scrapped_postings.each do |job_posting| %>
      <tr>
        <td><%= job_posting[:job] %></td>
        <td><%= job_posting[:company] %></td>
        <td><%= job_posting[:tags] %></td>
        <td><%=h job_posting[:description] %></td>
        <td>Banana</td>
        <td>100</td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job posting', new_job_posting_path %>
